# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg
*.egg-info/
.eggs/
MANIFEST

# Unit test / coverage reports
.pytest_cache/

# Jupyter Book
/docs/_build/
